@charset "EUC-KR";

.div1 {
	padding-left : 50px;
	margin-bottom : 20px;
}

.div2{
	padding-left : 50px;
}

.div1 > p{
	display:inline-block;
}

.div2 > p{
	display:inline-block;
}

.article_div{
	height : 700px;
	background-color : white;
	margin-top : 20px;
}